<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person"
          class="com.exercise.spring.Person">
        <constructor-arg name="id" value="777" type="int"></constructor-arg>
        <constructor-arg name="name" value="Mary" type="String"></constructor-arg>
        <property name="taxId" value="456"></property>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address"
          class="com.exercise.spring.Address">
        <constructor-arg name="street" value="2019 Camas Ave NE" type="String"></constructor-arg>
        <constructor-arg name="postalCode" value="98056" type="String"></constructor-arg>
    </bean>
</beans>